<html>
    <head>
        <title>Ninja Page</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Welcome to Ninjaland</h1>
        <p>The best time is <span>NINJA TIME!</span>
        But ninja time is so stealth that you never know when it is happening.
        </p>
        <h2>More Ninjaland Info</h2>
        <p>Amazing facts, bone crushing moves, and lessons on being in stealth mode</p>
    </body>
</html>